@font-face {
    font-family: cocon;
    src: url("Cocon-Bold.otf");
}

.li-p{
    margin-top: -5px;
}
@media (max-width:770px){
.li-p{
    font-size: 12px;
}
}
@media (max-width:410px){
    .li-p{
        font-size: 10px;
    }
    }
    

.firstSvg::before{
    background-image: url('./../images/rocket.svg');
    content: '';
	color: #707070;
	display: inline-block;
    height: 20px;
    width: 20px;
	vertical-align: middle;
	margin-top: auto;
	margin-bottom: auto;
	background-size: contain;
	background-position: center;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.secondSvg::before{
    background-image: url('./../images/speedometer.svg');
    content: '';
	color: #707070;
	display: inline-block;
    height: 20px;
    width: 20px;
	vertical-align: middle;
	margin-top: auto;
	margin-bottom: auto;
	background-size: contain;
	background-position: center;
    background-repeat: no-repeat;
    padding-left: 30px;
}


.thirdSvg::before{
    background-image: url('./../images/strongarm.svg');
    content: '';
	color: #707070;
	display: inline-block;
    height: 20px;
    width: 20px;
	vertical-align: middle;
	margin-top: auto;
	margin-bottom: auto;
	background-size: contain;
	background-position: center;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.fourthSvg::before{
    background-image: url('./../images/fire.svg');
    content: '';
	color: #707070;
	display: inline-block;
    height: 20px;
    width: 20px;
	vertical-align: middle;
	margin-top: auto;
	margin-bottom: auto;
	background-size: contain;
	background-position: center;
    background-repeat: no-repeat;
    padding-left: 30px;
}

@font-face {
    font-family: cocon1;
    src: url("cocon.ttf");
}
.ul-container{
    font-size:18px;
}

.ul-container div{
    background:#ededed
}
@media (max-width:500px){
    .ul-container {
    font-size:10px;
    }
}

@media (max-width:410px){
    .main-contains h2 {
    font-size:27px;
    }
}

@media (max-width:353px){
    .main-contains h2 {
    font-size:24px;
    }
}
@media (max-width:677px){
    .grantee {
    font-size:20px !important;
    margin-top: 0px !important;
    }
}

@media (max-width:550px){
    .grantee {
    font-size:14px !important;
    }
}
@media (max-width:450px){
    .grantee {
    font-size:12px !important;
    }
}
@media (max-width:400px){
    .grantee {
    font-size:10px !important;
    }
}

@media (max-width:767px){
    .ul-container {
    margin-top:10px;
    }
}

.thirdOne , .secondOne , .firstOne , .thirdOposite ,.secondOposite,.firstOposite{
    display: flex;
    justify-content: center;
}
    


.ul-container ul li {
    /* color: #3c3c3c;  */
    /* set color of list item text */
  
    /* display: inline-block; */
    list-style: none; 
    /* margin: 0 0 16px 1.1225em; */
    /* Give the bullet room on the left hand side */
  
    /* padding: 0; */
    position: relative;
  }
  
  .ul-container  ul li::before {
    color:#d77192;  
    /* color of bullet or square */
  
    content: "\2022"; 
    /* Unicode of character to precede the list item */
  
    display: inline-block;
    font-size: 1em; 
    /* use em or % */
   
    right: -1.1225em; 
    /* use em, line up bullet flush with left hand side */
  
    position: absolute;
    /* Set the bullet positioned absolutely top left */
  
    top: 0em; 
    /* use em or % */
  
  }

body {
    direction: rtl;
    font-family: cocon1, cocon;
}

#main-section{
    /*background-color: #0E2326;*/
    background: url(../images/slider-bg.png) center/auto 52% no-repeat;
}

.justify-content-center{
    margin: 0 4%;
}

.main-container {
    max-width: 600px;
    margin: auto;
}

.main-head1{
    margin: auto;
}

.logo {
    padding: 80px 0 40px;
}

.list-mid{
    font-size: 20px !important;
}

.main-head1-mid{
    padding: 0 !important;
    text-align: right !important;
    margin-right: 10px !important;
}

.main-head {
    /*font-size: 49px;*/
    line-height: 1.2;
    padding-top: 100px;
}

.main-head span {
    font-size: 34px;
    background: #472e32;
    padding: 0 21px;
}

.main-head1 {
    padding: 35px 0;
    text-align: center;
    margin: auto;
    width: 125%;
    margin-right: -10%;
}

.list {
    font-size: 21px;
    line-height: 2.3;
}

.list i {
    font-size: 15px;
    margin-left: 10px
}

.btn-main {
    background: #e8202b;
    color: #FFF;
    border: 0;
    width: 100%;
    font-size: 40px;
    border-radius: 0
}
.btn-main:hover{
    background: #9a1329;
}
.main-last {
    font-size: 42px;
}
.main-last span:first-child {
    /*font-family: cocon;*/
}
.main-img-1 {
    width: 91%;
    margin: auto
}

.main-color {
    background: #E8202B;
    min-height: 100%
}

.main-color1 {
    /*background: #0E2326;*/
    color: #707070
}

.main-color2 {
    /*background: #0E2326;*/
    color: #707070;
    padding: 50px 0;
}

.main-contains {
    width: 100%;
    margin: auto;
}

.main-container1 {
    max-width: 415px;
    margin: auto;
    /*background: #252525*/
}

.main-last1 {
    width: 97%;
    margin: auto;
    margin-top: 5px;
}
.main-t-2 {

    padding-top: 70px;
}

.main-t-2-head {
    color: #b3152e;
    font-size: 40px;
}

.main-t-2-hr {
    background: #472e32;
    height: 1px;
    width: 52%;
    margin: 0 auto 75px;
}

.main-t-2-hr span:nth-child(1) {
    display: inline-block;
    height: 10px;
    width: 20px;
    float: right;
    margin: -4px 25px;
    background: #472e32;
}

.main-t-2-hr span:nth-child(2) {
    display: inline-block;
    height: 10px;
    width: 20px;
    float: left;
    margin: -4px 25px;
    background: #472e32;
}

.btn-main-t-2 {
    margin: 20px 0 0;
}

.main-t-2-last :nth-child(3) {
    font-family: gess1;
    font-size: 25px;
}

.main-t-2-last {
    line-height: 1;
    margin-top: 20px;
}


.call-main-t- {
    background: #0D7174;
    color: #FFF;
    min-height: 175px;
    display: flex;
    align-items: center;
}

.call-head {
    border-right: 2px solid #b3152e;
    font-size: 30px;
    line-height: 1;
    margin: 30px 0;
    text-align: right;
    padding-right: 10px
}

.call-head span {
    font-size: 30px;
}

.main-temp-head {
    font-size: 37px;
    margin-top: 30px;
    color: #b3152e;
}

.main-temp-hr {
    margin-bottom: 35px;
    width: 32%;
}

.main-temp-hr span:nth-child(1),
.main-temp-hr span:nth-child(2) {
    height: 8px;
    width: 17px;
    margin: -3px 25px;
}

.btn-main-temp {
    width: 100%;
}

.main-temp-p {
    margin: 10px 0 30px;
    font-size: 20px;
    color: #0D7174;
}

.call-head1 {
    border-right: 2px solid #b3152e;
    font-size: 30px;
    line-height: 1;
    margin: 30px 0;
    text-align: right;
    padding-right: 10px
}

.main-temp-img,
.main-temp-img1,
.main-temp-img2,
.main-temp-img3,
.main-temp-img4,
.main-temp-img5 {
    margin-top: 5px;
    cursor: pointer
}

.main-temp-p2 {
    width: 60%;
    font-size: 22px;
    background: #e9eaee;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 163px;
    margin: 0 auto 50px;
    padding: 0 17px;
    cursor: pointer
}

.main-temp-p2:hover {
    background: #0D7174;
    color: #fff
}

.block4 {
    margin-top: 30px;
}

.block4-head {
    color: #b3152e;
    font-size: 50px;
    margin-bottom: 20px;
}

.block4-hr1 {
    margin-bottom: 50px;
}
.block4-hr {
    width: 28%;
    margin: auto;
}
.hr {
    position: absolute;
    background: #aeaeae;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: -1px;
}
.call-us {
    width: 90%;
    background: #b3152e;
    color: #FFF;
    border-radius: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    bottom: 0
}
.select3 {
    margin: 0 auto 0 0;
}

.select2 {
    margin: auto
}
.form {
    width: 50%;
    margin: 25px auto 0;
    background: #DDD;
    padding: 0 0 22px;
}

.form-head {
    font-size: 25px;
    padding: 8px 0;
}

.form-control1 {
    width: 90%;
    margin: auto;
    border-radius: 0;
    font-size: 18px;
    color: #6c6c6c;
    resize: none;
    height: auto !important;

}

.form-control1::placeholder {
    color: #6c6c6c;
}

.form-control1 option {
    color: #495057;
    font-size: 18px;
}

.form-call {
    width: 90%;
    margin: auto;
    color: #FFF;
    background: #b3152e;
    border-radius: 0;
    font-size: 25px;
    line-height: 1.2;

}
.form-call:hover {
    color: #FFF;
    text-decoration: none
}

.form-last {
    margin: 30px auto;
}
.footer {
    background: #252525;
}

.footer .a {
    color: #FFF;
    font-size: 15px;
        padding: 10px 0;
}
.footer .a a {
    color: #007bff
}
.footer a{
    color: #FFF;
    font-size: 15px
}
.form-operation {
        margin-top: 20px;
    font-size: 35px;
}
.form-operation span {
    color: #b3152e
}
.main-temp-hr4 {
        width: 45%;
    margin: 0px auto 45px;
    background: #b3152e;
}
.form-operation1 {
    font-size: 25px;
    margin: 25px auto;
 }
#form-phone {
    font-family: sans-serif
}
#form-phone::placeholder {
    font-family: cocon1
}
.block4-new-img {
        width: 55%;
    margin: auto;
}

@media (max-width:375px) {
    .btn-req-nw {
        font-size: 11px !important;
    }
}

@media (max-width:1199px) {
    .main-container,
    .main-container1 {
        /*max-width: 345px;*/
    }
    .main-head {
        /*font-size: 39px;*/
    }
    .main-head span {
        font-size: 33px;
    }
    .list {
        font-size: 21px;
    }
    .btn-main {
        width: 93%;
        font-size: 30px;

    }
    .main-last {
        font-size: 31px;
    }
    .main-icon {
        bottom: -15%;
    }
    .main-last1 {
        width: 93%;
        margin: 5px auto 0;
    }
    .main-t-2-head {
        font-size: 33px;
    }
    .main-t-2-hr {
        margin-bottom: 50px;
    }

    .main-t-2-last :nth-child(3) {
        font-size: 19px;
    }
    .call-head1 {
        font-size: 21px;
    }
    .main-t-2-middle {
        margin-top: 100px;
    }
    .btn-main-t-2 {
        margin: 22px 0 0;
    }
    .main-temp-head {
        font-size: 35px;
    }
    .li3 {
        font-size: 18px;
    }
    .main-temp-head3 {
        font-size: 21px;
    }
    .main-temp-last {
        margin-top: 0 !important
    }
    .main-temp-p2 {
            min-height: 130px;
        font-size: 19px;
    }
    .block4-head {
        font-size: 26px;
    }
    .form-last {
        width: 49%;
    }
}

@media (max-width:991px) {
    .main-head {
        font-size: 32px;
        padding-top: 40px;
    }
    .main-head span {
        font-size: 27px;
    }
    .list {
        font-size: 13.5px
    }
    .btn-main {
        width: 100%;
        font-size: 26px;
    }
    .logo {
        margin: auto;
        width: 40%;
        padding: 40px 0 40px
    }
    .main-last {
        font-size: 27px;
    }
    .main-color2 {
        padding: 30px 0;
    }
    .main-container,
    .main-container1 {
        max-width: 270px;
    }
    .main-t-2 {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .main-t-2-head {
        font-size: 25px
    }
    .main-t-2-hr {
        margin: 0 auto 30px
    }

    .main-t-2-hr span:nth-child(1),
    .main-t-2-hr span:nth-child(2) {
        height: 7px;
        width: 16px;
        margin: -3px 25px;
    }
    .call-head {
        font-size: 29px;
        border-right: 0px solid #b3152e;
    }
    .call-head span {
        font-size: 23px;
    }
    .main-temp-head {
        font-size: 30px;
    }
    .main-temp-hr {
        width: 53%;
        margin: 0 auto 30px
    }
    .li3 {
        font-size: 13px
    }
    .li3 span {
        margin: 8px;
    }
    .main-temp-img {
        background-size: 69% 40%;
    }
    .main-temp-head3 {
        font-size: 17px;
        margin: 30px 0;
    }
    .main-temp-img1 {
        bottom: -28px;
    }
    .main-temp-img,
    .main-temp-img1,
    .main-temp-img2,
    .main-temp-img3,
    .main-temp-img4,
    .main-temp-img5 {
        margin: 40px auto 0;
        width: 26%;
    }
    .main-temp-p {
        margin: 6px 0 0px;
        font-size: 15px;
    }
    .call-head1 {
        font-size: 16px;
        border-right: 11px solid #b3152e;
    }
    .main-temp-p2 {
            min-height: 115px;
    font-size: 16px;
        width: 75%;
    }
    .call-main-t- {
            min-height: 130px;
    }
    .hr {
        width: 64%;
        top: -5px;
    }
    .call-us {
        font-size: 17px;
    }
    .form-head {
        font-size: 20px;
    }
    .form-control1 {
        font-size: 16px
    }
    .form-call {
        font-size: 21px;
    }
    .form {
        padding: 0px 0 17px;
    }
    .form-last {
        margin: 15px auto;
    }
    .footer a 
    .footer .a {
        font-size: 15px
    }
    .form-operation {
            font-size: 23px;
    }
    .form-operation1 {
            font-size: 17px;
            margin-top: 20px;
    }
}

@media (max-width:767px) {
    .list-mid{
        line-height: initial;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .main-head1-mid{
        width: 100% !important;
    }
    .main-temp-img, .main-temp-img1, .main-temp-img4 { 
        margin-top: 0px !important;
        width: 100% !important;
    }
    .main-container,
    .main-container1 {
        max-width: 240px;
    }
    .main-head {
        font-size: 28px;
    }
    .main-head span {
        font-size: 22px;
    }
    .list img {
        width: 7%;
    }
    .list {
        font-size: 17px;
    }

    .main-head1 {
        padding: 12px 0;
    }
    .btn-main {
        font-size: 17px;
    }
    .main-last {
        font-size: 25px;
    }
    .main-icon {
        bottom: 25%;
    }
    .main-t-2-head {
        font-size: 18px;
    }
    .main-color2 {
        padding: 40px 0;
    }
    .main-t-2 {
        padding-top: 15px;
        padding-bottom: 0px !important;
    }

    .main-t-2-middle {
        margin-top: 65px;

    }
    .call-head {
        font-size: 18px;
        border-right: 0px solid #b3152e;
        padding-right: 0px;
        margin: 20px 0;
        text-align: center;
    }
    .call-head span {
        font-size: 14px
    }
    .main-temp-head {
        font-size: 25px;
    }
    .li3 img {
        padding-left: 5px;
        width: 9%;
    }
    .main-temp-p {
        font-size: 12px;
    }
    .main-temp-img1 {
        bottom: -22px;
    }
    .main-temp-img,
    .main-temp-img1,
    .main-temp-img2,
    .main-temp-img3,
    .main-temp-img4,
    .main-temp-img5 {
        width: 34%;
    }
    .call-head1 {
        font-size: 13px;
        border-right: 8px solid #b3152e;
    }
    .main-t-2-middle{
        max-width: 100% !important;
    }
    .main-temp-p2 {
        min-height: 87px;
    font-size: 14px;
    width: 90%;
    padding: 0 13px;
    }
    .call-main-t- {
        min-height: 107px;
    }
    .call-us {
        font-size: 14px
    }
    .form-head {
        font-size: 13px;
    }
    .form-control1 {
        font-size: 13px;
    }
    .form-call {
        font-size: 17px;
    }
    .form {
        margin: 25px auto 0;
        width: 100% !important;
    }
    .form-operation {
        
      font-size: 18px;
              margin-top: 15px;
    }
    .form-operation1 {
            font-size: 13px;
    margin-top: 15px;
    }
    .footer .a ,.footer a{
        font-size: 12px;
    }
}

@media (max-width:500px) {
    .main-head {
        font-size: 23px;
    }
}

.ava-features .col-12 {
    padding: 12px;
    border-radius: 67px;
    margin-bottom: 10px;
    color: white;
    text-align: right;
    display: flex
}

#feature2 .ava-features .col-12 {
    padding: 12px;
    border-radius: 67px;
    margin-bottom: 10px;
    color: #8B8F90;
    text-align: right;
    display: flex
}

.ava-features .col-12 p {
    margin: 0 !important;
    padding: 0 !important;
}

/* .ava-feature-right {
    margin-right: -20px;
} */

/* .ava-feature-left {
    margin-right: 20px;
} */

.img-feature {
    max-width: 50px;
    max-width: 65px;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 5px #888888;
    height: 85px;
    max-width: 85px;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.feature-content {
    width: 100%;
    display: flex;
    margin-right: 12px;
    flex-direction: column;
    text-align: right;
}


/* .col-lg-4 {
    max-width: 33.33%;
} */
.feature-content h3 {
    margin: 0;
}

.ava-features-right .img-container {
    margin: 0;
}

.ava-feature-right .feature-content h3 {
    font-size: 21px;
}

.ava-feature-left .feature-content h3 {
    font-size: 21px;
}


@media (max-width:991px) {
    .ava-feature-right .feature-content h3 {
        margin-right: 20px;
    }

    .ava-features .col-12 {
        padding: 9px;
    }

    .ava-features-left .img-container {
        margin-left: 10px;
    }

    .feature-content p {
        font-size: 16px;
    }

    .feature-content h3 {
        font-size: 14px;
    }

    .ava-feature-right .feature-content h3 {
        font-size: 16.5px;
    }

    .ava-feature-left .feature-content h3 {
        font-size: 16.5px;
    }

    .ava-feature-right {
        margin-right: 0px;
    }

    .ava-feature-left {
        margin-right: 0px;
    }

    .ava-feature-left .feature-content {
        margin-right: 0;
    }

    .img-feature {
        height: 55px;
        max-width: 55px;
    }

    /* .col-lg-4 {
        max-width: 100%;
    } */

    /* .img-center{
        max-width: 330px;
    } */

    /* .ava-last .col-12 {
        flex-direction: row-reverse;
    } */
}

@media (max-width:800px) {
    .feature-content p {
        font-size: 14px;
    }

    .ava-features .col-12 {
        padding: 8px;
    }

    .ava-features-left .img-container {
        margin-left: 8px;
    }

    .feature-content h3 {
        font-size: 14px;
    }

    .img-feature {
        height: 45px;
        max-width: 45px;
    }

    .ava-feature-right .feature-content h3 {
        margin-right: 8px;
    }

    .ava-feature-right .feature-content {
        margin-right: 6px;
    }
}

@media (max-width:700px) {
    .feature-content p {
        font-size: 11px;
    }

    .ava-features .col-12 {
        padding: 6px;
    }

    .ava-features-left .img-container {
        margin-left: 5px;
    }

    .feature-content h3 {
        font-size: 11px;
    }

    .ava-feature-right .feature-content h3 {
        margin-right: 5px;
        font-size: 14px
    }

    .ava-feature-right .feature-content {
        margin-right: 2px;
        font-size: 14px
    }

    .img-feature {
        height: 35px;
        max-width: 35px;
    }

    .ava-feature-right .feature-content {
        margin-right: 6px;
    }
}

@media (max-width: 600px) {
    .ava-feature-right .feature-content h3 {
        font-size: 12px
    }

    .ava-feature-left .feature-content h3 {
        font-size: 12px
    }

}

@media (max-width:536px) {
    .ava-features-left .img-container {
        margin-left: 4px;
    }

    .ava-features .col-12 {
        border-radius: 20px;
    }

    .ava-features .col-12 p {
        margin: 0 !important;
        padding: 0 !important;
        font-size: 11px;
    }

    .ava-feature-right .feature-content {
        margin-right: 6px;
    }

    .ava-feature-right .feature-content h3 {
        font-size: 12px;
    }


    .ava-feature-left .feature-content h3 {
        font-size: 11px;
    }
    .ava-features .col-12 {
        border-radius: 20px;
    }

    .btn-req-nw{
        font-size: 12px;
    }

}

@media (max-width:500px) {
    .feature-content p {
        font-size: 11px;
    }
    .ava-features .col-12 {
        border-radius: 20px;
    }

    .ava-features .col-12 {
        padding: 5px;
    }

    .ava-features-left .img-container {
        margin-left: 5px;
    }

    .feature-content h3 {
        font-size: 11px;
    }

    .ava-feature-right .feature-content h3 {
        margin-right: 4px;
        font-size: 11px;
    }

    .ava-feature-left .feature-content h3 {
        font-size: 11px;
    }

    .ava-feature-right .feature-content p {
        font-size: 11px;
    }

    .ava-feature-left .feature-content p {
        font-size: 11px;
    }

    .ava-feature-right .feature-content {
        margin-right: 8px;
    }

    .img-feature {
        height: 28px;
        max-width: 28px;
    }
}

h3 {
    font-weight: bold;
}

@media (max-width:427px) {
    .ava-features .col-12 {
        border-radius: 20px;
    }
    .ava-feature-right .feature-content {
        margin-right: 8px;
    }
    .ava-feature-right .feature-content h3 {
        font-size: 10px;
    }

    .ava-feature-left .feature-content h3 {
        font-size: 10px;
    }

    .ava-feature-right .feature-content p {
        font-size: 10px;
    }

    .ava-feature-left .feature-content p {
        font-size: 10px;
    }


}

@media (max-width:401px) {
    .feature-content p {
        font-size: 10px;
    }

    .ava-features .col-12 {
        padding: 3px;
    }

    .feature-content h3 {
        font-size: 10px;
    }

    .ava-features-left .img-container {
        margin-left: 3px;
    }

    .ava-feature-right .feature-content h3 {
        margin-right: 3px;
    }

    .ava-feature-right .feature-content {
        margin-right: 7px;
    }

    .img-feature {
        height: 25px;
        max-width: 25px;
    }
}

@media (max-width:362px) {
    .ava-features .col-12 {
        border-radius: 20px;
    }
    .ava-feature-right .feature-content h3 {
        font-size: 9px;
    }

    .ava-feature-left .feature-content h3 {
        font-size: 9px;
    }

    .ava-feature-right .feature-content p {
        font-size: 9px;
    }

    .ava-feature-left .feature-content p {
        font-size: 9px;
    }
}

@media (max-width:350px) {
    .feature-content p {
        font-size: 9px;
    }

    .feature-content h3 {
        font-size: 9px;
    }

    .ava-features-left .img-container {
        margin-left: 1px;
    }

    .ava-feature-right .feature-content h3 {
        margin-right: 2px;
    }

    .ava-feature-right .feature-content {
        margin-right: 4px;
    }

    .img-feature {
        height: 25px;
        max-width: 25px;
    }
}

@media (max-width:332px) {
    .ava-feature-right .feature-content h3 {
        font-size: 6px;
    }

    .ava-feature-left .feature-content h3 {
        font-size: 6px;
    }

    .ava-feature-right .feature-content p {
        font-size: 5px;
    }

    .ava-feature-left .feature-content p {
        font-size: 5px;
    }
}

@media (max-width:306px) {
    .ava-feature-right .feature-content h3 {
        font-size: 5.5px;
    }

    .ava-feature-left .feature-content h3 {
        font-size: 5.5px;
    }

    .ava-feature-right .feature-content p {
        font-size: 4.5px;
    }

    .ava-feature-left .feature-content p {
        font-size: 4.5px;
    }
}

.main-container{
    margin: auto;
}
